.user-status {
  width: 25px;
  height: 25px;
}

.homeContainer {
  background-image: url("./../../assets/img/msnbg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.whiteBorderGlassBox {
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 8px;
}

.homeHeadContainer {
  background-color: rgba(255, 255, 255, 0.5);
}

#homeAvatarPicture {
  max-width: 100px;
}

.whiteContainerPadded {
  padding: 15px;
  background-color: white;
}

img.icon {
  width: 30px;
}

.homeAvatarPicture {
  width: 150px;
}